p{
    color:red;
    font-size: 20px;
}
.class1{
    color:blueviolet;
    font-size: 200px;
}
a{
    color: rgba(181, 0, 0, 0.966);
}
/* 白色背景 */
.baiSe {
    background-color: #ffffff;
  }
  .huiSe {
    background-color: #b0b0b0d5;
  }

